.good-item {
  width: 50%;
  position: relative;
  box-sizing: border-box;
  padding: 1px 1px 1px 0;

  .goods-img {
    width: 100%;
  }

  .goods-logo {
    position: absolute;
    bottom: 0.4rem;
    right: 0;
    width: 0.5rem;
  }

  img {
    width: 100%;
  }

  .goods-info {
    width: 100%;
    box-sizing: border-box;
    padding: 0 0.1rem;
    background-color: #fff;
    position: relative;
  }

  .sales {
    color: #ff464e;
    font-size: 0.16rem;
    padding-top: 0.05rem;
    padding-bottom: 0.02rem;
    height: 0.2rem;
    line-height: 0.2rem;
  }

  .title {
    box-sizing: border-box;
    padding-right: 0.5rem;
    font-size: 0.12rem;
    color: #3b3b3b;
    height: 0.25rem;
    line-height: 0.25rem;
    padding-bottom: 0.12rem;
  }

  .flag {
    color: #bbbbbb;
    position: absolute;
    right: 0.1rem;
    bottom: 0.1rem;
    font-size: 0.12rem;
  }

  .price {
    color: #ff464e;
    font-size: 0.16rem;
    padding-top: 0.05rem;
    padding-bottom: 0.02rem;
    height: 0.2rem;
    line-height: 0.2rem;
  }

  .del-price {
    color: #bbb;
    font-size: 0.12rem;
    text-decoration: line-through;
    margin-left: 8px;
  }
}
