.select-box {
  height: 0.5rem;
  background-color: #fff;
  display: flex;
  align-items: center;
  margin: 0.1rem 0 0.01rem;

  li {
    margin: 0 0.1rem;
    height: 0.5rem;
    line-height: 0.5rem;
    border-bottom: 2px solid #fff;
    font-size: 0.17rem;

    .active {
      color: #ff464e;
      border-bottom: 2px solid #ff464e;
    }
  }
}
