.car-tab-bar-box {
  width: 100%;
  height: 0.5rem;
  background-color: #fff;
  position: fixed;
  bottom: 0;
  z-index: 2;

  .tab-bar {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    a {
      padding: 0;
    }

    li {
      flex: 1;
      display: flex;
      flex-direction: column;
      align-items: center;
      font-size: 0.1rem;
      height: 100%;
      padding: 0.05rem;
      box-sizing: border-box;
      position: relative;

      &.active {
        color: #ff464e;

        .img-default {
          display: none;
        }

        .img-active {
          display: block;
        }
      }

      img {
        width: 0.25rem;
        height: 0.25rem;
      }

      span {
        text-align: center;
        margin-top: 0.05rem;
      }
    }

    .shop-count {
      background-color: #ff464e;
      border-radius: 100%;
      color: #fff;
      position: absolute;
      width: 0.2rem;
      height: 0.2rem;
      line-height: 0.2rem;
      text-align: center;
      top: -0.05rem;
      right: 25%;
      z-index: 9999;
      font-style: normal;
    }
  }

  #buyBtn {
    background-color: #ff464e;
    color: #fff;
    font-size: 0.15rem;
    display: flex;
    justify-content: center;
  }
}
