.userCenter {
  color: #fff;
  background: #f4f4f8;
}

#head {
  height: 1.7rem;
  background: #ff464e;
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: 100% auto;
  border-bottom: none;
  position: relative;
  display: flex;
  flex-direction: column;

  .go-back {
    position: absolute;
    display: inline-block;
    padding: 0.18rem;
  }
}

.userTop {
  height: 0.55rem;

  p {
    height: 0.55rem;
    line-height: 0.55rem;
  }
}

#t-index {
  font-size: 0.2rem;
  text-align: center;
}

.user-login {
  flex: 1;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.24rem;

  ul {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
  }

  li {
    flex: 1;
    text-align: center;

    a {
      color: #fff;
    }
  }
}

.userBox {
  width: 100%;
  padding: 0 0.1rem 0 0.2rem;
  box-sizing: border-box;
  background: #fff;
}

.user-item {
  width: 100%;
  height: 0.6rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 0.18rem;
  border: 0 0 1px 0, #ebebeb;

  .all-order,
  .other-style {
    margin-right: 0.1rem;
    color: #999;
  }
}

.user-name {
  height: 100%;
  display: flex;
  align-items: center;
}
